

.d1{
  
    margin-top:50px;
    
  }
  
  
  
body{overflow-x: hidden;
    
  }
  
  .n{
    margin-right:0px;
  }
  .l{
    
    color:rgba(114, 6, 6, 0.849);
    margin-right:850px;
    font-family: cursive;
  }
  
  .l2{
    color:rgba(114, 6, 6, 0.849);
    font-family: cursive;
  }
  .j{
    background:linear-gradient(to right,#c6ffdd
    ,
    #fbd786
    ,
    #f7797d);
    height:700px;
    color:white;
    font-family: cursive;
  }
  .j2 {
  
    color:rgba(114, 6, 6, 0.849);
    font-family: cursive;
    background-color:white;
  }
  .d2{

    border:5px brown dotted;
  }
  